h1{
    padding: 10px 10px 10px 10px ; 
    margin: 10px 10px 10px 10px;
    border: 2px solid white; 
    color: black; 
    background-color: white;
    font-weight: 100;
    font-size: medium;
    font-family: 'Libre Baskerville', serif;
    text-align: left;
    }
    
    body{
        background-color: lightgreen;
      }

      p{ 
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        border: 2px solid white;
        color: black;
        font-weight: 100;
        font-size: medium;
        font-family: 'Libre Baskerville', serif;
        text-align:'Courier New', Courier, monospace left;
      }

      li{
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        color: black;
        background-color: lightgoldenrodyellow;
        font-weight: 100;
        font-size: medium;
        font-family: 'Libre Baskerville', serif;
        text-align:'Courier New', Courier, monospace left; 
      }

      .container {
        max-width: 960px;
        margin: 1em auto 1em auto;
        background-color: white;
        border: 2px;
        }
        
        h2 {
            background-color: lightblue;
            font-family: 'Montserrat', sans-serif;
          }  
          img {
            width: 50%;
            height: auto;
            }
            nav ul {
                display: flex;
                flex-direction: row;
                padding: 0px;
              }
              
              nav ul li {
                flex:1;
                list-style-type: none;
              }
              
              nav ul li a {
                display: block;
                padding: 0.75em;
                margin: 0.25em; 
                color: black;  
                text-align: center;
                text-decoration: none;  
                border-radius: 10px;
              }
              
              nav ul li a:hover {
                background-color: rgba(238, 124, 232, 0.788);
                box-shadow: inset 3px 3px 10px #300;  
              }
              @media screen and (max-width: 760px) {
                nav ul {
                    flex-direction: column;
                    padding: 0 20px;
                    }
                nav ul li {
                  margin:10px 0;
                  }
  }
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(255, 242, 182);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}